body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-stars{
  /* width: max-content !important; */
}
@media screen and (max-width: 934px) {
  .swiper-wrapper,
  .swiper-slide {
    width: 80% !important;
  }
}

@media screen and (max-width: 682px) {
  .swiper-wrapper,
  .swiper-slide {
    width: 100% !important;
  }
}
